.personal-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1.5rem;
}
.personal-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.name {
  text-align: center;
  font-size: 1.75rem;
  line-height: 2rem;
}