.date {
  flex-direction: row !important;
  gap: 2rem !important;
}

.date > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.education-container {
  justify-self: flex-start;
}